.shipping-savings-message {
    justify-content: center;
    display: flex;
}

.skeppnings-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    top: 36%;
    position: absolute;
    width: 104%;
  
    .shipping-savings-message {
        margin-top: 22px;
    }
  }
  #shipping-progress {
    width: 56%;
    right: 24rem;
    top: -5.5rem;
    z-index: 1;
    position: relative;
}

  #main-cart-footer {
    .cart__checkout-button {
      background-color: #007db5;
      color: white;
      border-radius: 5.6rem;
      bottom: 18rem;
    }
  }

  .icon-row img {
    height: 24px;
    width: 24px;
}

.cart__footer {
    float: right; 
    width: 50%; 
  }
  
  .cart__blocks{
    position: absolute;
    bottom: 148px;
    right: -13%;

    .totals{
        display: none;
    }
    .tax-note {
        display: none;
    }
  }
  #MainContent .focus-none{
    padding-bottom: 200px;
  }

  .cart__items {
    width: 76%; 
    float: left; 
    left: -7%;
  }
  .custom-block {
    right: 2%;
    position: absolute;
    margin-top: 101px;
    background-color: #cecece;
    border-radius: 0.4rem;
    transform: scale(0.8);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 17px;
  }

  .collapsible-content-wrapper-narrow {
    width: 50%; 
    float: right; 
    margin-top: 111px !important;
    width: 36%;
    padding-bottom: 200px;
    .grid__item{
        left: 163%;
        position: absolute;
        width: 71% !important;
        bottom: 0;
    }
  }

.cart-items{
    margin-top: 41px;
}

cart-items .title-wrapper-with-link{
    margin-left: -8%;
    margin-left: 20px;
    .underlined-link {
        display: none; 
    }
}

.quantity-popover-container {
    padding: 0 !important;
}