.shipping-savings-message {
    justify-content: center;
    display: flex;
}

.skeppnings-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  
    .shipping-savings-message {
      margin-bottom: 10px; 
    }
  }


  #main-cart-footer {
    .cart__checkout-button {
      background-color: #007db5;
      color: white;
      border-radius: 5.6rem;
    }
  }