.shipping-savings-message {
    justify-content: center;
    display: flex;
}

.skeppnings-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  
    .shipping-savings-message {
      margin-bottom: 10px; 
    }
  }
  #shipping-progress {
    width: 56%; 
    left: 7%; 
    top: 22%; 
    z-index: 1; 
    position: absolute;
  }

  #main-cart-footer {
    .cart__checkout-button {
      background-color: #007db5;
      color: white;
      border-radius: 5.6rem;
    }
  }

  .icon-row img {
    height: 24px;
    width: 24px;
}

.cart__footer {
    float: right; 
    width: 50%; 
  }
  
  .cart__items {
    width: 50%; 
    float: left; 
  }
  .custom-block {
    right: 8%;
    position: absolute;
    margin-top: 129px;
    background-color: #cecece;
    border-radius: 0.4rem;
    transform: scale(0.8);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 17px;
  }

  .collapsible-content-wrapper-narrow {
    width: 50%; 
    float: right; 
    margin-top: 111px !important;
    width: 36%;
  }
