.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $general-padding;
  padding-bottom: 0;
  font-size: 13px;
  border-top: 1px solid rgb(176, 175, 175);

  h5 {
    margin-top: 0;
    color: $header-text;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
  }

  .menu-div {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    div {
      display: flex;
      flex-direction: column;
      justify-content: unset;
      border: none;
      width: 27%;

      h5 {
        margin: 0 0 15px;
      }
      a {
        text-decoration: 0;
        color: $menu-text;
      }
    }
  }

  .more-about-div {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    border: none;

    div {
      gap: 10px;
      padding: 0;
      display: flex;
      flex-direction: row;
      .more-holder {
        display: flex;
        flex-direction: column;
        width: 15vw;
        gap: 0;
        justify-content: unset;
        padding: 0;

        h5 {
          width: 100%;
          padding: 7px 10px;
          text-transform: uppercase;
          font-weight: bold;
          color: #000;
          margin: 0;
          background-color: #e7e7e7;
        }
      }
    }
  }
}

footer {
  border-top: none !important;

  .footer__content-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 30px;
    margin: 0;
    min-width: 100%;

    .footer-block--newsletter {
      margin-top: 0;
    }

    div {
      display: flex;
      gap: 11px;
      img {
        width: 42px;
      }
    }
  }
  .footer__content-bottom-wrapper {
    margin: 0;
    padding: 0;
    display: unset !important;

    .footer__copyright {
      display: unset !important;
      .footer-menu-div {
        float: right;
        margin-right: 10px;
      }
      .copyright__content {
        float: left;
      }
    }
    &:nth-of-type(2) {
      border-right: 1px solid gray;
    }
    &:first-of-type {
      width: fit-content;
      display: unset;
    }
    .footer__localization {
      width: fit-content;
    }
  }

  .footer__content-bottom {
    display: flex;
    flex-direction: row-reverse;
    border: none;
    padding: 0 60px;
    margin: 0;
    width: 100%;
    align-items: center;
    border-top: 1px solid rgb(176, 175, 175);

    p {
      font-size: 14px;
    }

    div .footer__column--info {
      display: none;
    }

    div .footer__copyright {
      display: flex;
      flex-direction: row;
      justify-content: unset;
      small {
        font-size: 14px;
        font-weight: 500;
      }
    }

    .footer-menu-div {
      a {
        font-size: 14px;
        text-decoration: none;
        color: #444444;
        font-weight: 500;
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 1189px) {
  .shopify-section-group-footer-group
    .color-scheme-1
    div
    .footer-outer-div
    .menu-div {
    gap: 10px;

    div {
      width: 30%;
    }
  }
  .more-holder h5 {
    min-height: 35%;
  }
}

@media (max-width: 1025px) {
  .shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
    padding: 30px 40px;
  }
  footer {
    .footer__content-bottom-wrapper:nth-of-type(2) {
      width: 100%;
    }
    .footer__content-bottom-wrapper div .footer__copyright {
      display: flex !important;
      justify-content: space-between;
      min-width: 100%;
    }
    .footer__content-bottom {
      padding: 0 30px;

      .footer__copyright .copyright__content,
      .footer__copyright .footer-menu-div a {
        font-size: 10px !important;
      }

      .footer__copyright .copyright__content {
        padding-top: 2px !important;
      }

      .footer__copyright .footer-menu-div a {
        margin: 0;
      }
    }
  }
}

@media (max-width: 780px) {
  .shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
    padding: 30px 30px;
  }
  .footer-menu-div {
    display: none;
  }
  .shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
    flex-direction: column-reverse;

    .menu-div {
      margin-top: 30px;
      div {
        flex-grow: 1;
      }
    }
    .more-about-div div .more-holder {
      flex-grow: 1;

      h5 {
        min-height: auto;
      }
    }
  }
}

@media (max-width: 432px) {
  footer {
    .footer__content-bottom-wrapper:nth-of-type(2) {
      border-right: none;
    }
    .footer__content-bottom {
      padding: 0;
      justify-content: center;
      flex-direction: column;
      gap: 0;
    }
  }
  .shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
    padding: 30px 15px;
  }
  .shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
    .menu-div {
      gap: 30px;
      div:last-of-type {
        display: none;
      }
    }

    .more-about-div div .more-holder:last-of-type {
      display: none;
    }
  }
  footer .footer__content-top {
    flex-direction: column;

    .footer-block--newsletter {
      margin-top: 30px;
    }
  }

  footer .footer__content-bottom-wrapper {
    width: fit-content;
    display: flex !important;
    justify-content: center;

    .footer__copyright {
      margin: 0 0 10px;
    }
    .footer__localization {
      padding: 0 !important;
      width: 50px;
    }
  }
  .list-social__link {
    padding: 5px !important;
  }
}
