.header__heading-link {
    position: absolute;
    left: 4%;
    top: 15%;
}


.header__inline-menu{
    left: 40%;
    position: absolute;
}

.mega-menu__content {
    left: unset !important;
    right: -206% !important;
    width: 1440px;
}


.header__icon--search {
    span {
      background-color: #fcfcfc;
      width: 230px;
      color: black;
      justify-content: flex-start; 
      padding-left: 15px;
      
    }
  }
