header {
  margin-top: 2.3% !important;
  align-items: baseline;
}

.header__heading-logo-wrapper {
  margin-top: 10%;
  width: 4.5rem;
}

.header__heading-link {
  position: absolute;
  left: 4%;
  top: 15%;
}

.header__menu-item {
  padding: 0;
}

.header__active-menu-item {
  font-family: $font1;
  font-weight: 700;
  text-decoration: none !important;
  position: relative;

  &:hover {
    text-decoration: none !important;
    transition: none !important;
  }

  &:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -31px;
    width: 100%;
    height: 3px;
    background-color: black;
  }
}

.header__inline-menu {
  left: 40%;
  position: absolute;
}

.mega-menu__content {
  left: unset !important;
  right: -187% !important;
  width: 1440px;
}

.header__icon--search {
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    background-color: #fcfcfc;
    color: black;
    padding-left: 15px;
    display: contents;
    width: fit-content;

    .search-texxt {
      display: none;
    }
  }
}

.mega-menu__link--active {
  display: none;
}

.shopify-section-group-header-group div div {
  padding: unset;
  padding-bottom: 3px !important;
}

.color-scheme-4 div {
  padding: 0 !important;
  .custom-fixed-menu {
    position: fixed;
    top: 0;
    min-width: 100%;
    width: 46%;
    display: flex;
    padding: 0 5rem !important;
    padding-bottom: 0 !important;
    display: flex;
    justify-content: end;
    background-color: #ebebeb;
    align-items: center;

    a {
      color: #53565a;
      text-decoration: none;
      padding: 0 10px;
      position: relative;
      border-right: solid 1px #464a4e;
      font-size: 12px;
      font-weight: 350;
      line-height: 30px;

      &:first-of-type::before {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background-image: url("https://cdn.shopify.com/s/files/1/0866/9747/6401/files/Pngtree_profile_line_black_icon_4008155.png?v=1711151102");
        background-size: cover;
        position: absolute;
        top: 45%;
        transform: translateY(-55%);
        left: -10px;
      }
    }

    a:hover {
      color: #181919;
    }
  }
}

predictive-search[open] .predictive-search,
predictive-search[loading] .predictive-search {
  width: 1440px;
  left: -326px;
}

#shopify-section-sections--22290661507377__custom_liquid_NhYTMm {
  top: -3px;
  padding-bottom: 33px;
  background-color: #ebebeb;
}

.sel-cute.sel-disclosure-btn {
  background-color: transparent !important;
}



@media screen and (max-width: 990px) {
    .header__heading-link{
        left: unset !important;
    }

    predictive-search[open] .predictive-search,
    predictive-search[loading] .predictive-search {
    width: unset !important;
    left: unset !important;
}
}

@media screen and (max-width: 375) {
    predictive-search[open] .predictive-search,
    predictive-search[loading] .predictive-search {
    width: unset !important;
    left: unset !important;
}
}