.header__heading-link {
  position: absolute;
  left: 4%;
  top: 15%;
}

.header__inline-menu {
  left: 40%;
  position: absolute;
}

.mega-menu__content {
  left: unset !important;
  right: -188% !important;
  width: 1440px;
}

.header__icon--search {
  span {
    background-color: #fcfcfc;
    width: 230px;
    color: black;
    justify-content: flex-start;
    padding-left: 15px;
  }
}

.mega-menu__link--active {
  text-decoration: unset !important;
}
/*
  #MegaMenu-Content-1 {
    .mega-menu__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        grid-template-areas: 
            "offers trending products"
            "womens-sale trending collections";
    }

    .mega-menu__link--level-2 {

        width: 100%;

    }

    #HeaderMenu-women-offers {

        grid-area: offers;

    }

    #HeaderMenu-women-womens-sale {

        grid-area: womens-sale;

    }

    #HeaderMenu-women-trending {
        grid-area: trending;
    }

    #HeaderMenu-women-products {
        grid-area: products;
    }

    #HeaderMenu-women-collections {
        grid-area: collections;

    }
}
*/
.header__icon--account {
    margin-left: 200px; 
  }

.header__icon.header__icon--account {
    margin-left: 200px;
}