.collection__title {
  margin-left: 4.5%;
}

.banner__box {
  right: 13%;
}

.banner__box .banner__heading + * {
  margin-right: 26%;
}

.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
  padding-left: 4%;
}

.collection__title.title-wrapper {
  right: 3%;
  position: relative;
}

.color-scheme-3 .collection .collection__title h2 {
  left: 9%;
  position: relative;
  top: 10px;
}

h2.banner__heading.inline-richtext.h1 {
  margin-right: 130px;
}

.image-gallery {
  display: flex;
  padding: 0 4%;
  .button {
    position: absolute !important;
  }
}

.image-item {
  flex: 1;
  position: relative;
  margin-right: 10px;
  /* Justera mellanrummet mellan bilderna */
}

.image-item img {
  width: 100%;
  height: auto;
}

.button {
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}

#MainContent
  #Banner-template--22290662097201__image_banner
  .banner__content
  .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient {
  margin-right: 35%;

  .button {
    position: unset;
    border-radius: 5.6rem !important;
    font-weight: 700;
  }
}

.button:before,
.shopify-challenge__button:before,
.customer button:before,
.shopify-payment-button__button--unbranded:before,
.shopify-payment-button [role="button"]:before,
.cart__dynamic-checkout-buttons [role="button"]:before {
  background-color: unset !important;
  border-radius: unset !important;
}

#MainContent
  #Banner-template--22290662097201__image_banner
  .banner__content
  .banner__box
  h2.banner__heading
  strong {
}

#MainContent
  #Banner-template--22290662097201__image_banner_Lfcfa6
  .banner__content
  .banner__box {
  margin-left: 37%;

  .button {
    position: unset;
    border-radius: 5.6rem !important;
    font-weight: 700;
  }
}

#MainContent
  #Banner-template--22290662097201__image_banner_jyUqDy
  .banner__content
  .banner__box {
  margin-right: 0;

  .button {
    border-radius: 5.6rem !important;
    font-weight: 700;
    width: 164px;
    margin-left: 20px;
  }
}

.header__menu-item .icon-caret {
  display: none;
}

#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__heading {
  color: #fff;
  font-size: 4.5rem;
  line-height: 5.4rem;
}

#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: 400;
  z-index: 2;
  width: 100%;
}

/*-------------------------------------------------->1440--------------------------------------------------*/

@media screen and (max-width: 1440px) {
  .banner__box {
    margin-right: 0;

    .button {
      position: unset;
      border-radius: 5.6rem !important;
      font-weight: 700;
    }
  }

  #MainContent
    #Banner-template--22290662097201__image_banner
    .banner__content
    .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient {
    margin-right: unset;
    font-size: 3vw;
  }

  #Banner-template--22290662097201__image_banner_Lfcfa6
    .banner__content
    .banner__box {
    margin-left: 0;

    .button {
      position: unset;
      border-radius: 5.6rem !important;
      font-weight: 700;
    }
  }

  #Banner-template--22290662097201__image_banner_jyUqDy
    .banner__content
    .banner__box {
    margin-right: 0;

    .button {
      border-radius: 5.6rem !important;
      font-weight: 700;
      width: 164px;
      margin-left: 20px;
    }
  }

  #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__heading {
    color: #fff;
    font-size: 4.5rem;
    line-height: 5.4rem;
  }

  #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #fff;
    font-weight: 400;
    z-index: 2;
    width: 100%;
  }
}

/*-------------------------------------------------->1000--------------------------------------------------*/

@media screen and (max-width: 1000px) {
  header {
    margin-top: 0 !important;
    display: flex !important;
    justify-content: space-between !important;

    .header__icons {
      padding-right: 0 !important;
    }
  }

  .header__heading-logo-wrapper {
    margin-top: 0;
    img {
      height: 30px;
      width: auto;
    }
  }

  .custom-fixed-menu {
    display: none !important;
  }
  #shopify-section-sections--22290661507377__custom_liquid_NhYTMm {
    display: none !important;
  }
  .banner__box > * + .banner__buttons {
    transform: scale(0.8) !important;
    position: absolute !important;
    left: -9% !important;
  }
  .banner__box {
    padding: unset !important;
  }
  .banner__box > *:first-child {
    font-size: 6vw;
  }

  /*-------------------------------------------------->750--------------------------------------------------*/
  @media screen and (max-width: 750px) {
    .image-gallery {
      display: block;
      padding: 0 4%;
    }

    .image-item {
      margin-bottom: 20px;
      margin-right: 0;
    }

    .button {
      display: block;
      margin-top: 10px;
    }
  }

  /*-------------------------------------------------->375--------------------------------------------------*/

  @media screen and (max-width: 420px) {
    #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__content .banner__box{
      margin: 0 !important;
      bottom: 13rem;
    }
    #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__text{
      transform: scale(0.7);
    }
    #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__heading {
      font-size: 2.5rem !important;
    }
    
    .mega-menu__content {
      left: unset !important;
      right: unset !important;
      width: unset !important;
    }
    .collection__title {
      margin-left: 2%;
    }
  }
  h2.banner__heading.inline-richtext.h1 {
    margin-top: 20px;
    margin-right: 0;
  }
  .banner__box {
    margin-right: 0;
    text-align: center;
    right: unset;

    .banner__text {
      margin-right: 0;

      p {
        padding: 0 20px !important;
      }
    }
  }
  .banner:not(.banner--mobile-bottom) .field__input,
  .banner--mobile-bottom:not(.banner--stacked) .banner__box.color-scheme-1 {
    margin-bottom: 20px;
  }

  .banner__buttons.banner__buttons--multiple a {
    background-color: #fff !important;
    line-height: 30px !important;
    padding: 10px !important;
    width: fit-content !important;
    font-size: 10px;
    box-shadow: 0px 0pc 1px 1px rgb(98, 98, 98) !important;
  }
  .banner__box > * + .banner__buttons {
    position: unset !important;
    margin-right: 0 !important;

    a {
      border-radius: 0;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
  }
  .slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
    padding-left: 0;
  }

  .collection .slider--tablet.product-grid {
    overflow: hidden;
  }
  .banner__box {
    width: auto !important;
    padding: 0 20px !important;
  }
  .collection__title.title-wrapper {
    margin-top: 20px;
  }
}
