.collection__title {
    margin-left: 4.5%;
  }

.banner__box{
    right: 13%;
}

.banner__box .banner__heading+* {
    margin-right: 26%;
}

.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
    padding-left: 4%;
}


.collection__title.title-wrapper {
    right: 3%; 
    position: relative;
}

.color-scheme-3 .collection .collection__title h2 {
    left: 9%;
    position: relative;
    top: 10px;
  }

  .banner--desktop-transparent .banner__box {
    left: 7%;
  }


h2.banner__heading.inline-richtext.h1{
    margin-right: 130px;
}

.image-gallery {
    display: flex;
    padding: 0 4%;
  }
  
  .image-item {
    flex: 1;
    position: relative;
    margin-right: 10px; /* Justera mellanrummet mellan bilderna */
  }
  
  .image-item img {
    width: 100%;
    height: auto;
  }
  
  .button {
    position: absolute;
    bottom: 10px; /* Justera knappens avstånd från botten */
    left: 10px; /* Justera knappens avstånd från vänster */
    background-color: white;
    color: black;
    padding: 10px 20px; /* Justera knappens storlek */
    text-decoration: none;
  }