#MainContent.collection-page .shopify-section div {
  padding-top: 0;

  .collection-hero__inner.page-width {
    max-width: unset;
  }
  .facets {
    display: none !important;
  }

  div div .header-holder {
    display: flex;
    flex-direction: row;
    align-items: center;

    .collection-hero__title {
      font-size: 16px;
      font-weight: bold;
      margin-right: 8px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    p {
      font-size: 12px;
      color: #6e6e6e;
      margin: 0;
    }
  }

  .facets-vertical.page-width {
    max-width: unset;
    margin: unset;
  }
  .facets-vertical .product-grid-container div div {
    #gf-controls-container {
      display: none !important;
    }

    .gf-grid ul .grid__item .card-wrapper .card {
      position: relative;

      variant-swatch-king {
        position: absolute;
        top: 25%;
      }
      .card__content div .card__heading {
        margin-top: 10px;
      }
    }
    .gf-filter-contents .gf-option-block {
      padding-bottom: 0;

      .gf-block-content .gf-scroll .gf-option-box .gf-box-rectangle button {
        padding: 11px 16px !important;
        border-color: #e7e7e7 !important;
        margin-bottom: 20px;

        &:hover {
          background-color: #fff !important;
          border-color: gray !important;
        }

        span {
          color: rgb(81, 81, 81);
        }
      }

      .gf-block-title .h3 {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;

        &:first-of-type {
          padding-top: 10px;
          margin-top: 20px;
        }

        span {
          font-size: 14px !important;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}

.shopify-section-group-header-group div div {
  padding: 0;
}

.rotating-container {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #f5f5f5;

  .isp {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    transition: bottom 0.25s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    justify-content: center;

    p {
      font-size: 14px;
      margin: 0;
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
    }
    img {
      max-width: 20px;
      max-height: 20px;
      margin-right: 5px;
    }
  }
}

.card-wrapper {
  overflow: hidden;
}

variant-swatch-king {
  position: absolute;
  bottom: 7.5rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: whitesmoke;
  transition: transform 0.25s ease;
  transform: translateY(100%);
  padding: 15px 30px;

  .swatches div div div fieldset {
    display: flex;
    justify-content: center;
    ul {
      width: fit-content;
      li div {
        min-width: unset !important;
        .swatch-button-title-text {
          padding: 15px 0 !important;
          width: 30px !important;
          display: flex !important;
          justify-content: center;
          margin: 0 auto !important;

          span {
            font-size: 13px;
            font-weight: 500;
            margin: auto;
          }
        }
      }
    }
  }
}

.card:hover variant-swatch-king {
  transform: translateY(0);
  transition-delay: 1s;
}

.card__content {
  position: relative;
  height: fit-content;
  z-index: 2;
  background-color: #fff;
}

.card__information {
  padding-top: 20px;
  margin-top: 10px;
  width: 100%;

  .card-information .price--on-sale {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    div .price__sale .price-item--sale.price-item--last {
      color: red;
      font-size: 13px;
      font-weight: 500;
    }
  }

  h3.card__heading {
    line-height: 20px;
    font-size: 14px;
    a:hover {
      text-decoration: none;
    }
  }
}

.card__inner .card__content {
  position: absolute !important;
  background-image: url("https://cdn.shopify.com/s/files/1/0866/9747/6401/files/heartoutline.webp?v=1710797022");
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 30px;
  min-height: 30px;
  border-radius: 100%;
  background-color: white;
  margin: 10px;
  right: 0;
}

.card__badge {
  span {
    display: none !important;
  }
}
