.product-form__input {
     border: 1px solid lightgrey !important; 
     padding: 10px !important; 
     border-radius: 0.4rem !important;
}



@media screen and (min-width: 990px) {
    .product:not(.product--columns) .product__media-list .product__media-item:first-child,
    .product:not(.product--columns) .product__media-list .product__media-item--full {
      width: unset !important;
    }
  }

.product-form__submit {
    background-color: black !important;
    color: white !important;  
}