.product-form__input {
     border: 1px solid lightgrey !important; 
     padding: 10px !important; 
     border-radius: 0.4rem !important;
}





.product-form__submit {
    background-color: black !important;
    color: white !important;  
}

.product__title h1,
.product__title h2 {
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 700;
  font-family: $font1;
  text-transform: uppercase;
  margin: 0 0 0.8rem; 
  text-align: center;
}

.price-item.price-item--regular {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $font2;
    color: #1b1b1b;
    line-height: 140%;
    display: flex;
    gap: 0.8rem;
    text-align: center;
  }



  .product-form__submit {
    border-radius: $btn;
}

#MainContent.product-page variant-swatch-king {
    background-color: white !important;
  }


  #MainContent.product-page {
    margin-left: -23%;
    .product-form__submit{
        top: 278px;
    }
    #swatch-option1{
        margin-left: 7%;
    }
    #swatch-option2 {
        bottom: 85%;
        position: absolute;
        margin-left: 37%;
    }
    .product__tax {
        display: none;
    }
  }