@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import "./variables";
@import "./cart";
@import "./checkout";
@import "./footer";
@import "./header";
@import "./home";
@import "./listing";
@import "./single";
@import "./home";
@import "./ui/button";

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  background: red;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

div.cart-count-bubble {
  background-color: #067db5;
  color: white;
  font-weight: 800;
  padding-top: 3px;
}
