.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  font-size: 14px;
  border-top: 1px solid gray;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div h5 {
  margin-top: 0;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div {
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  border: none;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div h5 {
  margin: 0 0 15px;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div a {
  text-decoration: 0;
  color: #53565a;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  border: none;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div {
  gap: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div .more-holder {
  display: flex;
  flex-direction: column;
  width: 15vw;
  gap: 0;
  justify-content: unset;
  padding: 0;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div .more-holder h5 {
  width: 100%;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin: 0;
  background-color: #e7e7e7;
}
.header__heading-link {
  position: absolute;
  left: 4%;
  top: 15%;
}
.header__inline-menu {
  left: 40%;
  position: absolute;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.banner__box > * + .banner__buttons {
  margin-right: 28%;
}
.banner--content-align-center .banner__buttons--multiple > * {
  border-radius: 5.6rem !important;
}
.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .shopify-payment-button [role=button]:before, .cart__dynamic-checkout-buttons [role=button]:before {
  background-color: #53565a;
  border-radius: 5.6rem !important;
}
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  content: none;
}
.button:disabled, .button[aria-disabled=true], .button.disabled, .customer button:disabled, .customer button[aria-disabled=true], .customer button.disabled, .quantity__button.disabled {
  color: white;
  font-weight: bold;
}
.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
  padding-left: 4%;
}
.collection__title.title-wrapper {
  right: 3%;
  position: relative;
}
.color-scheme-3 .collection .collection__title h2 {
  left: 9%;
  position: relative;
  top: 10px;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.banner__box > * + .banner__buttons {
  margin-right: 28%;
}
.banner--content-align-center .banner__buttons--multiple > * {
  border-radius: 5.6rem !important;
}
.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .shopify-payment-button [role=button]:before, .cart__dynamic-checkout-buttons [role=button]:before {
  background-color: #53565a;
  border-radius: 5.6rem !important;
}
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  content: none;
}
.button:disabled, .button[aria-disabled=true], .button.disabled, .customer button:disabled, .customer button[aria-disabled=true], .customer button.disabled, .quantity__button.disabled {
  color: white;
  font-weight: bold;
}
.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
  padding-left: 4%;
}
.collection__title.title-wrapper {
  right: 3%;
  position: relative;
}
.color-scheme-3 .collection .collection__title h2 {
  left: 9%;
  position: relative;
  top: 10px;
}
.slider-buttons {
  position: absolute;
  top: -50px;
  right: 0;
}
body {
  margin: 0;
  background: red;
}