@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.shipping-savings-message {
  justify-content: center;
  display: flex;
}
.skeppnings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.skeppnings-container .shipping-savings-message {
  margin-bottom: 10px;
}
#main-cart-footer .cart__checkout-button {
  background-color: #007db5;
  color: white;
  border-radius: 5.6rem;
}
.icon-row img {
  height: 24px;
  width: 24px;
}
.cart__footer {
  float: right;
  width: 50%;
}
.cart__items {
  width: 50%;
  float: left;
}
.custom-block {
  right: 10%;
  position: absolute;
  margin-top: 129px;
  background-color: #cecece;
  border-radius: 0.4rem;
}
.collapsible-content-wrapper-narrow {
  width: 50%;
  float: right;
  margin-top: 111px !important;
  width: 36%;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 60px;
  padding-bottom: 0;
  font-size: 16px;
  border-top: 1px solid rgb(176, 175, 175);
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div h5 {
  margin-top: 0;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  border: none;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div h5 {
  margin: 0 0 15px;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .menu-div div a {
  text-decoration: 0;
  color: #53565a;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  border: none;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div {
  gap: 10px;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div .more-holder {
  display: flex;
  flex-direction: column;
  width: 15vw;
  gap: 0;
  justify-content: unset;
  padding: 0;
}
.shopify-section-group-footer-group .color-scheme-1 div .footer-outer-div .more-about-div div .more-holder h5 {
  width: 100%;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin: 0;
  background-color: #e7e7e7;
}
footer {
  border-top: none !important;
}
footer .footer__content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px 30px;
  margin: 0;
  min-width: 100%;
}
footer .footer__content-top .footer-block--newsletter {
  margin-top: 0;
}
footer .footer__content-top div {
  display: flex;
  gap: 11px;
}
footer .footer__content-top div img {
  width: 42px;
}
footer .footer__content-bottom-wrapper {
  margin: 0;
  padding: 0;
  display: unset !important;
}
footer .footer__content-bottom-wrapper .footer__copyright {
  display: unset !important;
}
footer .footer__content-bottom-wrapper .footer__copyright .footer-menu-div {
  float: right;
  margin-right: 10px;
}
footer .footer__content-bottom-wrapper .footer__copyright .copyright__content {
  float: left;
}
footer .footer__content-bottom-wrapper:nth-of-type(2) {
  border-right: 1px solid gray;
}
footer .footer__content-bottom-wrapper:first-of-type {
  width: fit-content;
  display: unset;
}
footer .footer__content-bottom-wrapper .footer__localization {
  width: fit-content;
}
footer .footer__content-bottom {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  padding: 0 60px;
  margin: 0;
  width: 100%;
  align-items: center;
  border-top: 1px solid rgb(176, 175, 175);
}
footer .footer__content-bottom p {
  font-size: 14px;
}
footer .footer__content-bottom div .footer__column--info {
  display: none;
}
footer .footer__content-bottom div .footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: unset;
}
footer .footer__content-bottom div .footer__copyright small {
  font-size: 14px;
  font-weight: 500;
}
footer .footer__content-bottom .footer-menu-div a {
  font-size: 14px;
  text-decoration: none;
  color: #444444;
  font-weight: 500;
  margin: 0 10px;
}
.header__heading-link {
  position: absolute;
  left: 4%;
  top: 15%;
}
.header__inline-menu {
  left: 40%;
  position: absolute;
}
.mega-menu__content {
  left: unset !important;
  right: -206% !important;
  width: 1440px;
}
.header__icon--search span {
  background-color: #fcfcfc;
  width: 230px;
  color: black;
  justify-content: flex-start;
  padding-left: 15px;
}
.mega-menu__link--active {
  text-decoration: unset !important;
}
/*
  #MegaMenu-Content-1 {
    .mega-menu__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        grid-template-areas: 
            "offers trending products"
            "womens-sale trending collections";
    }

    .mega-menu__link--level-2 {

        width: 100%;

    }

    #HeaderMenu-women-offers {

        grid-area: offers;

    }

    #HeaderMenu-women-womens-sale {

        grid-area: womens-sale;

    }

    #HeaderMenu-women-trending {
        grid-area: trending;
    }

    #HeaderMenu-women-products {
        grid-area: products;
    }

    #HeaderMenu-women-collections {
        grid-area: collections;

    }
}
*/
.header__icon--account {
  margin-left: 200px;
}
.header__icon.header__icon--account {
  margin-left: 200px;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
  padding-left: 4%;
}
.collection__title.title-wrapper {
  right: 3%;
  position: relative;
}
.color-scheme-3 .collection .collection__title h2 {
  left: 9%;
  position: relative;
  top: 10px;
}
h2.banner__heading.inline-richtext.h1 {
  margin-right: 130px;
}
.image-gallery {
  display: flex;
  padding: 0 4%;
}
.image-gallery .button {
  position: absolute !important;
}
.image-item {
  flex: 1;
  position: relative;
  margin-right: 10px;
  /* Justera mellanrummet mellan bilderna */
}
.image-item img {
  width: 100%;
  height: auto;
}
.button {
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}
#MainContent #Banner-template--22290662097201__image_banner .banner__content .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient {
  margin-right: 35%;
}
#MainContent #Banner-template--22290662097201__image_banner .banner__content .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient .button {
  position: unset;
  border-radius: 5.6rem !important;
  font-weight: 700;
}
.button:before,
.shopify-challenge__button:before,
.customer button:before,
.shopify-payment-button__button--unbranded:before,
.shopify-payment-button [role=button]:before,
.cart__dynamic-checkout-buttons [role=button]:before {
  background-color: unset !important;
  border-radius: unset !important;
}
#MainContent #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__content .banner__box {
  margin-left: 37%;
}
#MainContent #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__content .banner__box .button {
  position: unset;
  border-radius: 5.6rem !important;
  font-weight: 700;
}
#MainContent #Banner-template--22290662097201__image_banner_jyUqDy .banner__content .banner__box {
  margin-right: 40%;
}
#MainContent #Banner-template--22290662097201__image_banner_jyUqDy .banner__content .banner__box .button {
  border-radius: 5.6rem !important;
  font-weight: 700;
  width: 164px;
  margin-left: 20px;
}
.header__menu-item .icon-caret {
  display: none;
}
#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__heading {
  color: #fff;
  font-size: 4.5rem;
  line-height: 5.4rem;
}
#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: 400;
  z-index: 2;
  width: 100%;
}
#MainContent.collection-page .shopify-section div {
  padding-top: 0;
}
#MainContent.collection-page .shopify-section div .collection-hero__inner.page-width {
  max-width: unset;
}
#MainContent.collection-page .shopify-section div .facets {
  display: none !important;
}
#MainContent.collection-page .shopify-section div div div .header-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#MainContent.collection-page .shopify-section div div div .header-holder .collection-hero__title {
  font-size: 16px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#MainContent.collection-page .shopify-section div div div .header-holder p {
  font-size: 12px;
  color: #6e6e6e;
  margin: 0;
}
#MainContent.collection-page .shopify-section div .facets-vertical.page-width {
  max-width: unset;
  margin: unset;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div #gf-controls-container {
  display: none !important;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-grid ul .grid__item .card-wrapper .card {
  position: relative;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-grid ul .grid__item .card-wrapper .card variant-swatch-king {
  position: absolute;
  top: 25%;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-grid ul .grid__item .card-wrapper .card .card__content div .card__heading {
  margin-top: 10px;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block {
  padding-bottom: 0;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-content .gf-scroll .gf-option-box .gf-box-rectangle button {
  padding: 11px 16px !important;
  border-color: #e7e7e7 !important;
  margin-bottom: 20px;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-content .gf-scroll .gf-option-box .gf-box-rectangle button:hover {
  background-color: #fff !important;
  border-color: gray !important;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-content .gf-scroll .gf-option-box .gf-box-rectangle button span {
  color: rgb(81, 81, 81);
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-title .h3 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-title .h3:first-of-type {
  padding-top: 10px;
  margin-top: 20px;
}
#MainContent.collection-page .shopify-section div .facets-vertical .product-grid-container div div .gf-filter-contents .gf-option-block .gf-block-title .h3 span {
  font-size: 14px !important;
  font-family: "Montserrat", sans-serif;
}
.shopify-section-group-header-group div div {
  padding: 0;
}
.rotating-container {
  position: relative;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: #f5f5f5;
}
.rotating-container .isp {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  transition: bottom 0.25s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  justify-content: center;
}
.rotating-container .isp p {
  font-size: 14px;
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000;
}
.rotating-container .isp img {
  max-width: 20px;
  max-height: 20px;
  margin-right: 5px;
}
.card-wrapper {
  overflow: hidden;
}
variant-swatch-king {
  position: absolute;
  bottom: 6.2rem;
  left: 0;
  right: 0;
  margin: auto;
  background-color: whitesmoke;
  transition: transform 0.25s ease;
  transform: translateY(100%);
  padding: 15px 30px;
}
variant-swatch-king .swatches div div div fieldset {
  display: flex;
  justify-content: center;
}
variant-swatch-king .swatches div div div fieldset ul {
  width: fit-content;
}
variant-swatch-king .swatches div div div fieldset ul li div {
  min-width: unset !important;
}
variant-swatch-king .swatches div div div fieldset ul li div .swatch-button-title-text {
  padding: 15px 0 !important;
  width: 30px !important;
  display: flex !important;
  justify-content: center;
  margin: 0 auto !important;
}
variant-swatch-king .swatches div div div fieldset ul li div .swatch-button-title-text span {
  font-size: 13px;
  font-weight: 500;
  margin: auto;
}
.card:hover variant-swatch-king {
  transform: translateY(0);
  transition-delay: 1s;
}
.card__content {
  position: relative;
  height: fit-content;
  z-index: 2;
  background-color: #fff;
}
.card__information {
  padding-top: 20px;
  margin-top: 10px;
  width: 100%;
}
.card__information h3.card__heading {
  line-height: 20px;
  font-size: 14px;
}
.card__information h3.card__heading a:hover {
  text-decoration: none;
}
.product-form__input {
  border: 1px solid lightgrey !important;
  padding: 10px !important;
  border-radius: 0.4rem !important;
}
@media screen and (min-width: 990px) {
  .product:not(.product--columns) .product__media-list .product__media-item:first-child,
  .product:not(.product--columns) .product__media-list .product__media-item--full {
    width: unset !important;
  }
}
.product-form__submit {
  background-color: black !important;
  color: white !important;
}
.product__title h1,
.product__title h2 {
  font-size: 1.8rem;
  line-height: 120%;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin: 0 0 0.8rem;
  text-align: center;
}
.price-item.price-item--regular {
  font-size: 1.4rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #1b1b1b;
  line-height: 140%;
  display: flex;
  gap: 0.8rem;
  text-align: center;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.slider-mobile-gutter.slider-component-full-width.slider-component-desktop.scroll-trigger.animate--slide-in {
  padding-left: 4%;
}
.collection__title.title-wrapper {
  right: 3%;
  position: relative;
}
.color-scheme-3 .collection .collection__title h2 {
  left: 9%;
  position: relative;
  top: 10px;
}
h2.banner__heading.inline-richtext.h1 {
  margin-right: 130px;
}
.image-gallery {
  display: flex;
  padding: 0 4%;
}
.image-gallery .button {
  position: absolute !important;
}
.image-item {
  flex: 1;
  position: relative;
  margin-right: 10px;
  /* Justera mellanrummet mellan bilderna */
}
.image-item img {
  width: 100%;
  height: auto;
}
.button {
  bottom: 10px;
  left: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
}
#MainContent #Banner-template--22290662097201__image_banner .banner__content .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient {
  margin-right: 35%;
}
#MainContent #Banner-template--22290662097201__image_banner .banner__content .banner__box.content-container.content-container--full-width-mobile.color-scheme-3.gradient .button {
  position: unset;
  border-radius: 5.6rem !important;
  font-weight: 700;
}
.button:before,
.shopify-challenge__button:before,
.customer button:before,
.shopify-payment-button__button--unbranded:before,
.shopify-payment-button [role=button]:before,
.cart__dynamic-checkout-buttons [role=button]:before {
  background-color: unset !important;
  border-radius: unset !important;
}
#MainContent #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__content .banner__box {
  margin-left: 37%;
}
#MainContent #Banner-template--22290662097201__image_banner_Lfcfa6 .banner__content .banner__box .button {
  position: unset;
  border-radius: 5.6rem !important;
  font-weight: 700;
}
#MainContent #Banner-template--22290662097201__image_banner_jyUqDy .banner__content .banner__box {
  margin-right: 40%;
}
#MainContent #Banner-template--22290662097201__image_banner_jyUqDy .banner__content .banner__box .button {
  border-radius: 5.6rem !important;
  font-weight: 700;
  width: 164px;
  margin-left: 20px;
}
.header__menu-item .icon-caret {
  display: none;
}
#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__heading {
  color: #fff;
  font-size: 4.5rem;
  line-height: 5.4rem;
}
#Banner-template--22290662097201__image_banner_Lfcfa6 .banner__text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
  font-weight: 400;
  z-index: 2;
  width: 100%;
}
.slider-buttons {
  position: absolute;
  top: -50px;
  right: 0;
  padding-right: 6rem;
}
.banner__buttons {
  flex-wrap: unset !important;
}
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  content: none;
}
.button:disabled,
.button[aria-disabled=true],
.button.disabled,
.customer button:disabled,
.customer button[aria-disabled=true],
.customer button.disabled,
.quantity__button.disabled {
  color: white;
  font-weight: bold;
}
.banner__box > * + .banner__buttons {
  margin-right: 28%;
}
.banner--content-align-center .banner__buttons--multiple > * {
  border-radius: 5.6rem !important;
}
.button:before,
.shopify-challenge__button:before,
.customer button:before,
.shopify-payment-button__button--unbranded:before,
.shopify-payment-button [role=button]:before,
.cart__dynamic-checkout-buttons [role=button]:before {
  background-color: #53565a;
  border-radius: 5.6rem !important;
}
.image-gallery .button {
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 5.6rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 700;
}
.slider-button {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50%;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in;
}
.slider-button.slider-button--prev {
  background-color: #e7e7e7;
  color: #6e6e6e;
  cursor: auto;
  margin-right: 15px;
}
.slider-button.slider-button--next {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
.collection__description.subtitle.rte a {
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: underline;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-left: 1.6rem;
}
.collection.section-template--22290662097201__featured_collection_PEqTH7-padding .quick-add .button {
  display: none;
}
body {
  margin: 0;
  background: red;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}