.shopify-section-group-footer-group div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shopify-section-group-footer-group div div h5 {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}
.shopify-section-group-footer-group div div .menu-div div {
  flex-direction: column;
}
.shopify-section-group-footer-group div div .more-about-div {
  display: flex;
  flex-direction: column;
}
.shopify-section-group-footer-group div div .more-about-div div {
  gap: 10px;
}
.shopify-section-group-footer-group div div .more-about-div div .more-holder {
  display: flex;
  flex-direction: column;
  justify-content: unset;
  width: 15vw;
  gap: 0;
}
.shopify-section-group-footer-group div div .more-about-div div .more-holder h5 {
  width: 100%;
  padding: 7px 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  margin: 0;
  background-color: #e7e7e7;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.banner__box > * + .banner__buttons {
  margin-right: 28%;
}
.banner--content-align-center .banner__buttons--multiple > * {
  border-radius: 5.6rem !important;
}
.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .shopify-payment-button [role=button]:before, .cart__dynamic-checkout-buttons [role=button]:before {
  background-color: #53565a;
  border-radius: 5.6rem !important;
}
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  content: none;
}
.button:disabled, .button[aria-disabled=true], .button.disabled, .customer button:disabled, .customer button[aria-disabled=true], .customer button.disabled, .quantity__button.disabled {
  color: white;
  font-weight: bold;
}
.collection__title {
  margin-left: 4.5%;
}
.banner__box {
  right: 13%;
}
.banner__box .banner__heading + * {
  margin-right: 26%;
}
.banner__box > * + .banner__buttons {
  margin-right: 28%;
}
.banner--content-align-center .banner__buttons--multiple > * {
  border-radius: 5.6rem !important;
}
.button:before, .shopify-challenge__button:before, .customer button:before, .shopify-payment-button__button--unbranded:before, .shopify-payment-button [role=button]:before, .cart__dynamic-checkout-buttons [role=button]:before {
  background-color: #53565a;
  border-radius: 5.6rem !important;
}
.button:after,
.shopify-challenge__button:after,
.customer button:after,
.shopify-payment-button__button--unbranded:after {
  content: none;
}
.button:disabled, .button[aria-disabled=true], .button.disabled, .customer button:disabled, .customer button[aria-disabled=true], .customer button.disabled, .quantity__button.disabled {
  color: white;
  font-weight: bold;
}
body {
  margin: 0;
  background: red;
}